!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    - each style in header().styles
      link(rel='stylesheet', href='/stylesheets/' + style)
    - each script in header().scripts
      script(src='/scripts/' + script)
  body!= body
