- for (card in cards)
  dt(class="front card-#{card}")  <abbreviation title="Front">F</abbreviation>: #{cards[card].front}
  dd(class="back card-#{card}")  <abbreviation title="Back">B</abbreviation>: #{cards[card].back}

