- for (card in cards)
  dt  <abbreviation class="card-#{card}" title="Front">F</abbreviation>: #{cards[card].front}
  dd  <abbreviation class="card-#{card}" title="Back">B</abbreviation>: #{cards[card].back}

