/** pre-definitions here: ***/

@link_color: #00B7FF;

/****************************/

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 600px;
  margin: 0 auto 0 auto;
}

a {
  color: @link_color;
}

.tech {
  background-color: #dddddd;
  white-space: pre;
  padding: 1ex;
  font-family: monospace;
  margin-left: 1em;
}

.tech dd {
  color: @link_color;
  text-decoration: underline;
  margin-left: 0;
}

.tech dt {
  margin: 0 0 1ex 40px;
}

