/** pre-definitions here: ***/

@ffamily_treb: 'Trebuchet MS', Arial, sans-serif;
@blue_color: #00B7FF;
@orange_color: #ff4800;
@bg_color: #dddddd;
@border_color: #aaaaaa;
@shadow_color: #cccccc;
@shadow_color_hover: #ababab;
/****************************/

/** actual css here: ***/

*:focus,
*:active {
  outline: none;
}

body {
  padding: 50px;
  padding-top: 5px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 600px;
  margin: 0 auto 0 auto;
  color: #444444;
}

a {
  color: @blue_color;
}

h2 {
  padding-left: 1em;
  color: #888888;
}

.clearfix {
  clear: both;
  height: 0;
}

h1.app-name {
  text-align: center;
  font-size: 6em;
  margin-top: 3px;
  margin-bottom: 1ex;
  color: #555555;
  font-family: @ffamily_treb;
  text-shadow: none;
}

body:hover h1.app-name {
  text-shadow: 1px 1px 2px #888888;
}

.section {
  margin-bottom: 3em;
}

.section:hover h2 {
  color: #444444;
}

.content {
  border-left: 1px solid @border_color;
  padding-left: 1em;
  padding-bottom: .25ex;
}

.note {
  font-style: italic;
}

dl.tech {
  background-color: @bg_color;
  white-space: pre;
  padding: 1ex;
  font-family: monospace;
  margin-left: 1em;
  outline: 1px solid #aaaaaa;
  color: #404040;
  white-space: normal;
}

.tech dt {
  color: @blue_color;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 1ex;
}

#api .note p {
  margin-left: 1em;
  color: #555555;
}

#stack-listing {
  width: 100%;
}

ul#stack-listing {
  padding-left: 0;
}

#stack-listing li {
  width: 28%;
  height: 100%;
  list-style-type: none;
  float: left;
  border: 1px solid @border_color;
  padding: 2% 1% 2% 1%;
  margin: 1%;
  font-style: italic;
  text-align: center;
  box-shadow: .5ex .75ex 2ex @shadow_color;
}

#stack-listing li:hover {
  border: 1px solid @blue_color;
  cursor: pointer;
  box-shadow: .5ex .75ex 2ex @shadow_color_hover;
}

#stack-listing li:active,
#stack-listing li:focus {
  border-color: @orange_color;
}

#stack-listing li a {
  font-style: normal;
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
}

#stack-listing li a .stack-name {
  font-size: 1.75em;
  font-style: inherit;
  font-family: @ffamily_treb;
  font-weight: bold;
  clear: both;
  display: block;
  padding-bottom: 1ex;
  color: @orange_color;
}

