/** pre-definitions here: ***/

@link_color: #00B7FF;
@bg_color: #dddddd;
@border_color: #aaaaaa;
/****************************/

body {
  padding: 50px;
  padding-top: 5px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 600px;
  margin: 0 auto 0 auto;
  color: #444444;
}

a {
  color: @link_color;
}

h2 {
  padding-left: 1em;
  color: #888888;
}

.clearfix {
  clear: both;
  height: 0;
}

h1.app-name {
  text-align: center;
  font-size: 6em;
  margin-top: 3px;
  margin-bottom: 1ex;
  color: #555555;
}

.section {
  margin-bottom: 3em;
}

.content {
  border-left: 1px solid @border_color;
  padding-left: 1em;
  padding-bottom: .25ex;
}

.note {
  font-style: italic;
}

dl.tech {
  background-color: @bg_color;
  white-space: pre;
  padding: 1ex;
  font-family: monospace;
  margin-left: 1em;
  outline: 1px solid #aaaaaa;
  color: #404040;
  white-space: normal;
}

.tech dt {
  color: @link_color;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 1ex;
}

#stack-listing {
  width: 100%;
}

ul#stack-listing {
  padding-left: 0;
}

#stack-listing li {
  width: 29%;
  height: 100%;
  list-style-type: none;
  float: left;
  outline: 1px solid @border_color;
  padding: 2% 1% 2% 1%;
  margin: 1%;
  font-style: italic;
  text-align: center;
}

#stack-listing li a {
  font-size: 1.15em;
  font-style: normal;
  font-weight: bold;
  clear: both;
  display: block;
  padding-bottom: 1ex;
}

#stack-listing li.pseudo-link:hover {
  outline: 1px solid @link_color;
  cursor: pointer;
}

